# Backend API
NEXT_PUBLIC_API=http://localhost:8080

# Social links
NEXT_PUBLIC_VIBER_URL=
NEXT_PUBLIC_TIKTOK_URL=
NEXT_PUBLIC_TELEGRAM_URL=
NEXT_PUBLIC_FACEBOOK_URL=

# Nova Poshta API
NP_API_URL=
NP_API_KEY=
