@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: url('../../lib/fonts/TT-Firs-Neue-Trial/TT-Firs-Neue-Trial-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: url('../../lib/fonts/TT-Firs-Neue-Trial/TT-Firs-Neue-Trial-Medium.ttf');
  font-weight: 500; /* 500 is typically the weight for Medium */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'TT Firs Neue', sans-serif;
  background-color: #ffffff;
  color: #000000;
}
body > main {
  flex-grow: 1;
}

/* Slider dots styles */
div.slick-dots ul {
  display: flex;
  gap: 8px;
}
div.slick-dots li {
  width: fit-content;
}
li.slick-active > div {
  width: 16px;
  background-color: #f59e0b;
  transition: all 0.3s;
}
/* End Slider dots styles */

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
body::-webkit-scrollbar {
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #a3a3a3;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: #dfa644d8;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #da9011;
}
/* End Scrollbar styles */

/* ANIMATION */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: rotate 1s linear infinite;
}
